/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html {
  scroll-behavior: smooth;
}
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $base-text-color;
  background-color: $base-bg-color-sub;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll; /* スクロールバー出現によるガタ付きを防ぐためあらかじめ表示させておく */

  @include media-query($on-palm) {
    background: $base-bg-color-main;
  }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  // display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
  display: flex;
  justify-content: center;
  padding: $spacing-unit;
  gap: $spacing-unit;

  @include media-query($on-laptop) {
    flex-direction: column;
    padding: $spacing-unit / 2;
    gap: $spacing-unit / 2;
  }

  @include media-query($on-palm) {
    padding: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  // minima の max-width から flex-basis へ変更
  // https://qiita.com/shizen-shin/items/dc8d096300cde63dc8a8
  flex-basis: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2 - 30px));
  flex-basis:         calc(#{$content-width} - (#{$spacing-unit} * 2 - 30px));

  // Flexbox からコンテンツはみ出る問題を完全に解決する
  // https://qiita.com/mpyw/items/dfc63c1fed5dfc5eda26
  min-width: 0;

  @extend %clearfix;
}

.left-wrapper,
.right-wrapper {
  flex-basis: 320px;

  @include media-query($on-laptop) {
    flex-basis: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2 - 30px));
    flex-basis:         calc(#{$content-width} - (#{$spacing-unit} * 2 - 30px));
  }
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $font-size-small;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $base-link-color;
  text-decoration: none;

  .username {
    color: $color-white;
  }

  &.post-link {
    color: $base-text-color;
  }

  &:hover {
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $color-grey;
  border-left: 4px solid $color-grey-thin;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $color-grey-thin;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$color-grey};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($base-text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $color-grey-thin;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  tr {
    &:nth-child(even) {
      background-color: lighten($color-grey-thin, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($color-grey-thin, 3%);
    border: 1px solid darken($color-grey-thin, 4%);
    border-bottom-color: darken($color-grey-thin, 12%);
  }
  td {
    border: 1px solid $color-grey-thin;
  }
}
