/* ==================================================
 * パンくずリスト
 * ================================================== */
 #breadcrumbs {
    margin-bottom: 1rem;
    color: $color-grey-light;
    font-size: $font-size-small;
    line-height: 1.2rem;
    font-family: $font-family-ubuntu;
}

#breadcrumbs a {
    color: $color-grey;
    text-decoration: none;
}

#breadcrumbs a:hover {
    color: $color-grey;
    text-decoration: underline;
    opacity: 1;
}
