/**
 * Referenced by https://www.blandersoft.com/short/code-block-copy-paste/
 */
div.highlighter-rouge {
  position: relative;

  button {
    display: none;
  }

  &:hover {
    button {
      display: block;
      position: absolute;
      top: 0.5em;
      right: 0.25em;
      padding-left: 12px;
      padding-bottom: 12px;
      background: none;
      border: none;
      border-color: red;
      color: $color-grey-light;
      font-size: $font-size-small * 0.9;
      cursor: pointer;
    }
  }
}
